:root {
    --timer-color: #FA8072;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFE4E1;
    color: #FA8072;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    padding: 16px 32px;
    background-color: transparent;
    border: 1px solid #FA8072;
    color: #FA8072;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FA8072;
    color: #fff;
}

.turno {
    background-color: #FA8072;
    padding: 12px 24px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #fff;
}

.container {
    position: relative;
}

.tempo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.tipo-tempo {
    padding: 24px;
    font-size: 20px;
}

.circle-container {
    transform: rotate(-90deg);
}

.background-circulo, .circle {
    r: 95;
    cx: 100;
    cy: 100;
    fill: none;
}

.background-circulo {
    stroke: #fff;
    stroke-width: 5;
}

.circle {
    stroke: var(--timer-color);
    stroke-width: 10;
    stroke-dasharray: 597;
    stroke-dashoffset: var(--dash-offset, 0);
    transition: stroke-dashoffset 1s linear;
}